/*
 * Globals
 */

:root {
  /* Using bootstrap default. Used for logo too */
  --brand: #007bff;
  --red: #f45a5a;
}

html,
body {
  min-height: 100%;
}

a,
a:focus,
a:hover {
  color: inherit;
}

/*
 * Bootstrap overrides
 */

h1 {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.1em;
  text-decoration-color: var(--red);
  text-decoration-style: double;
}

/*
 * Custom (prefix with "arg")
 */

.arg-slide-fade-in {
  opacity: 0;
  animation-duration: 200ms;
  animation-timing-function: ease-out;
  animation-name: arg-fade-slide-in;
  animation-fill-mode: forwards;
}

@keyframes arg-fade-slide-in {
  from {
    transform: translateY(10px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
